@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
}
<div class="clear">
</div>
@*@Html.Action("TopicBlock", "Topic", new {systemName = "NivoSlider"})*@
@Html.Action("Index", "NivoSlider")
<div class="clear">
</div>
@Html.Action("HomepageCategories", "Catalog")
<div class="clear">
</div>
@Html.Action("HomepageProducts", "Catalog")
<div class="clear">
</div>
@Html.Action("HomepageBestSellers", "Catalog")
<div class="clear">
</div>
@Html.Action("ManufacturerAll", "Catalog")
<div class="clear">
</div>
@*@Html.Action("HomePageNews", "News")
<div class="clear">
</div>*@
@Html.Action("HomePagePolls", "Poll")